main {
  max-width: 800px;
}

main img {
  width: 150px;
  height: auto;
}

aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}
aside img {
  width: 150px;
  height: auto;
}
p {
  padding: 0;
}

footer {
  margin-top: 15px;
  text-align: center;
  border: 1px solid #000;
}
